.app {
  display: flex;
}



.title-banner {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  justify-self: center;
  border: 3px solid blue;
  color: white;
  background-color: blue;
}

.title-header {
  display: flex;
}

.user-login {
  display: flex;
  flex-direction: column;
}


.parking-avail {
  color: green;
}

.parking-avail-warning {
  color: orange;
}

.parking-full {
  color: red;
}

.user-dot {
  color: red;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}