.parking-avail {
  color: green;
}

.parking-avail-warning {
  color: orange;
}

.parking-full {
  color: red;
}

.user-dot {
  color: red;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}